body {
  background-color: #f0f0f0;
  
  
}

.message-board-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.message-board {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  width: 800px;
  height: 600px;
}

.message-board form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.message-board label {
  font-weight: bold;
}

.message-board input[type="text"],
.message-board textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}


